@media (max-width: 385px) {
    .header-mobile {
        width: 100%;
        height: 50px;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .total-bag {
        width: 16vw;
        height: 10vw;
        background-color: #E9EAFA;
        margin-top: 0px;
        
    }
    .title-course {
        margin-top: 0px;
        font-size: 15px;
        margin-bottom: 9px;
    }
    .title-courses {
        font-size: 15px;
        margin-bottom: 9px;
    }
    .text-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .see-more {
        margin-bottom: 20px;
        font-size: 10px;
        color: #1A58B4;
        display: block;
    }
    .side-bar-home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.6vw;
        padding-top: 4px;
    }
    .text {
        font-size: 3vw;
        margin-bottom: 0;
    }
    .course-item{
        border-radius: 5px;
    }
    .instruct {
        font-size: 3vw;
    }
    .care {
        font-size: 3.9vw;
    }
    .contact-fb {
        font-size: 6.14vw;
    }
    .contact-tw {
        font-size: 6.14vw;
    }
    .contact-yt {
        font-size: 6.14vw;
    }
    .contact-gh {
        font-size: 6.14vw;
    }
    .contact {
        margin: 23px 0 25px 0;
    }
    .describe {
        font-size: 3.5vw;
        line-height: 18px;
    }
    .total-care {
        margin-left: 20px;
    }
    .total-footer{
        display: block;
    }
    .total-care {
        grid-template-columns: repeat(1, 1fr);
    }
    .legend-color {
        width: 4vw;
        height: 4vw;
    }
    .calendar-container {
        padding: 15px;
    }
    .date {
        width: 9vw;
        height: 5vw;
        border-radius: 3px;
        font-size: 2.44vw;
    }
    .calendar-header {
        font-size: 10px;
    }
    .text-hd {
        font-size: 3.14vw;
    }
    .skill-text {
        font-size: 2.8vw;
    }
    .img-couser {
        width: 7vw;
    }
    .logo-fb {
        width: 50px;
        height: 30px;
    }
    .search-container-icon {
        font-size: 1vw;
    }
    .search-container {
        width: 52%;
    }
    .search-bars {
        font-size: 8px;
        height: 22px;
    }
    .logo {
        margin-left: 15px;
    }
    .logo-ft {
        margin-left: 20px;
    }
    /* .course-star-icon {
        font-size: 2.14vw;
    } */
    .course-price {
        font-size: 1.9vw;
        margin: 2vw 2vw;
    }
    .course-author {
        font-size: 2.1vw;
        margin: 2vw 2vw;
    }
    .course-title {
        font-size: 2.74vw;
        margin: 1vw 2vw;
    }
    .course-star {
        margin: 1vw 2vw;
    }
    .course2 {
        margin: 0;
    }
    .course-number {
        margin-bottom: 10px;
    }
    .img-1{
        width: 5.7vw;
        margin: 6px 0px 0 0;
    }
    .number{
        font-size: 10px;
    }
    .number-star {
        font-size: 2.54vw;
    }
    .course-text {
        font-size: 7px;
    }
    .img-user{
        margin-top: 9px;
    }
    .name-text{
        font-size: 2vw;
    }
    .course {
        width: 20vw;
    }
    .dashpoad-total {
        width: 40vw;
        height: 18.4vw;
    }
    .title-text{
        font-size: 2.5vw;
        padding: 2vw 0 4vw 2vw;
    }
    .dashpoad {
        height: 35vw;
        border-radius: 10px;
        margin-bottom: 21px;
        width: 86.3vw;
    }
    .btn-couse {
        width: 100%;
    }
    .btn {
        font-size: 7px;
        padding: 6%;
    }
    .text2 {
        font-size: 7px;
        margin-top: 8px;
    }
    .total3 {
        margin-left: 16px;
    }
    .text1 {
        font-size: 10px;
        margin-top: 12px;
    }
    .banner {
        height: 25.3vw;
        border-radius: 10px;
        width: 86.3%;
    }
    .img-sales {
        height: 100%;
        width: 46.5vw;
    }
    .banner1 {
        width: 100%;
    }
    .side-bar {
        display: none;
    }
    .course-list {
       display: none;
    }
    .course-mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        
    }
    .header-iconBar {
        margin-right: 15px;
        margin-left: 20px;
    }
    .search-bar {
        font-size: 0.9em; 
    }
    .search-icon {
        font-size: 0.8em; 
    }
    .header-bar{
        display: block;
    }
    .header-notion {
        display: none;
    }
    .header-cart {
        display: none;
    }
    .header-user {
        display: none;
    }
    .course-prices {
        font-size: 2vw;
        margin: 2vw 2vw;
    }
    .course-name {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 7px;
    }
    .skill-list {
        justify-content: space-between;
    }
    .skill-star {
        margin-left: 0;
    }
}