@media (max-width: 768px) {
    /* Tablet Styles */ 
    .cares {
        margin: 0;
    }
    .instruct {
        font-size: 1.50vw;
    }
    .care {
        font-size: 1.90vw;
    }
    .contact-fb {
        font-size: 4vw;
    }
    .search-container {
        position: relative;
        width: 40%;
    }
    .contact-tw {
        font-size: 4vw;
    }
    .contact-yt {
        font-size: 4vw;
    }
    .contact-gh {
        font-size: 4vw;
    }
    .describe {
        font-size: 1.50vw;
    }
    .logo {
        margin-left: 6px;
    }
    .logo-fpt {
        width: 99px;
        height: 40px;
    }
    .total-care {
        grid-template-columns: repeat(2, 1fr);
    }
    .text-hd {
        font-size: 12px;
    }
    .legend-color {
        width: 2.5vw;
        height: 2.5vw;

    }
    .legend {
        margin-left: 15px;
        margin-top: 20px;
    }
    .calendar-header {
        font-size: 12px;
        color: #808080;
    }
   
    
    .date {
        width: 5vw;
        height: 2.5vw;
        border-radius: 5px;
        font-size: 1.24vw;
    }
    .calendar-container {
        padding: 40px;
    }
    .skill-list {
        /* width: 50%; */
    }
    .skill-text {
        font-size: 1.80vw;
    }
.course-price {
    font-size: 1.14vw;
    margin: 2vw 2vw;
}
    /* .course-star-icon {
        font-size: 1.34vw;
    } */
    .course-author {
        font-size: 1.10vw;
        margin: 1vw 2vw;
    }
    .course-star {
        margin: 1vw 2vw;
    }
    .course-title {
        font-size: 1.54vw;
        margin: 1vw 2vw;
    }
    .name-text {
        font-size: 1.70vw;
        font-weight: 600;
    }
    .img-user {
        height: 6.14vw;
    }
    .title-courses {
        margin-top: 38px;
    }
    .img-couser {
        width: 3.3vw;
    }
    .title-text {
        padding: 1vw 0 2vw 2vw;
    }
    .img-1 {
        width: 3.7vw;
        margin-right: 12px;
    }
    .number {
        font-size: 1.74vw;
    }
    .course-text {
        font-size: 1.44vw;
    }
    .dashpoad-total {
        width: 43vw;
    }
    .course2 {
        width: 20vw;
    }
    .course {
        width: 20vw;
    }
    .dashpoad-total {
        height: 15vw;
    }
    .dashpoad {
        border-radius: 10px;
        height: 25vw;
        width: 85.3%;
    }
    .text {
        font-size: 1.14vw;
        margin-bottom: 0;
    }
    .banner {
        border-radius: 10px;
        width: 85.3%;
        margin: 16px auto;
    }
    .text1 {
        font-size: 13px;
        margin-top: 17px;
        font-weight: 600;
    }
    .text2 {
        font-size: 10px;
        font-weight: 600;
        margin-top: 8px;
    }
    .btn-couse {
        width: 100%;
        margin-top: 8px;
    }
    .banner {
        height: 14.6vw;
    }
    .total-bag {
        margin-top: 2vw;
    }
    .btn {
        padding: 5%;
        font-size: 1.14vw;
        font-weight: 600;
        margin-top: 8px;
    }
    .wrap {
        display: block;
    }
    .calendar {
        width: 100%;
    }
    .title-course {
        margin-top: 30px;
    }
    .skills {
        width: 100%;
    }
    .course-name {
        margin-bottom: 0.7vw;
        margin-top: 0.7vw;
    }
    .course-total {
        margin-bottom: 0;
    }
    .progress-bar {
        display: none;
    }
    .certification-text {
        display: none;
    }
    .user-text {
        display: none;
    }
    .course-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .course-prices {
        font-size: 1.4vw;
        margin: 2vw 2vw;
    }
    .number-star {
        font-size: 1.54vw;
    }
    .img-sales {
        height: 14.6vw;
        width: 31.6vw;
    }
    .header-mobile {
        display: none;
    }
    .see-more {
        display: none;
    }
    .skill-star {
        margin-left: 11vw;
    }
    .skill-list {
        justify-content: flex-start;
    }
    .skill-js {
        width: 90px;
    }
}
