@media (max-width: 768px) {
    /* Tablet Styles */ 
    .user-options {
        max-width: 120px;
    }
    .cares {
        margin: 0;
    }
    .instruct {
        font-size: 1.50vw;
    }
    .care {
        font-size: 1.90vw;
    }
    .contact-fb {
        font-size: 4vw;
    }
    .search-container {
        position: relative;
    }
    .contact-tw {
        font-size: 4vw;
    }
    .contact-yt {
        font-size: 4vw;
    }
    .contact-gh {
        font-size: 4vw;
    }
    .describe {
        font-size: 12px;
    }
    .logo {
        margin-left: 6px;
    }
    .logo-fpt {
        width: 99px;
        height: 40px;
    }
    .total-care {
        grid-template-columns: repeat(2, 1fr);
    }
    .text-hd {
        font-size: 12px;
    }
    .legend-color {
        width: 2.5vw;
        height: 2.5vw;

    }
    .legend {
        margin-left: 15px;
        margin-top: 20px;
    }
    .calendar-header {
        font-size: 12px;
        color: #808080;
    }
   
    
    .date {
        width: 5vw;
        height: 2.5vw;
        border-radius: 5px;
        font-size: 1.24vw;
    }
    .calendar-container {
        padding: 30px 60px;
    }
    .skill-list {
        /* width: 50%; */
    }
    .skill-text {
        font-size: 1.80vw;
    }
.course-price {
    font-size: 10px;
}
    /* .course-star-icon {
        font-size: 1.34vw;
    } */
    .course-author {
        font-size: 9px;
    }
    .course-title {
        font-size: 10px;
    }
    .name-text {
        font-size: 14px;
        font-weight: 700;
    }
    .total3 p:first-child {
        margin-top: 17px;
    }
    .total3 p:nth-child(2) {
        margin-top: 8px;
    }
    .img-user {
        width: 46px;
        height: 44px;
    }
    .img-couser {
        width: 3.3vw;
    }
    .header_search {
        max-width: 421px;
    }
    .img-1 {
        width: 30px;
        height: 28px;
        margin-right: 10px;
    }
    .number {
        font-size: 1.74vw;
    }
    .course-text {
        font-size: 10px;
    }
    .dashpoad-total {
        width: 43vw;
    }
    .course2 {
        width: 46.26%;
    }
    .course {
        width: 46.2%;
    }
    .dashpoad-total {
        height: 15vw;
    }
    .dashpoad {
        border-radius: 10px;
        max-width: 598px;
        width: 100%;
        height: 192px;
    }
    .text {
        font-size: 1.14vw;
        margin-bottom: 0;
    }
    .banner {
        border-radius: 10px;
        max-width: 598px;
        width: 100%;
        height: 112px;
    }
    .banner1 {
        padding: 16px 45px 45px;
    }
    .text1 {
        font-size: 13px;
        margin-top: 17px;
        font-weight: 600;
    }
    .text2 {
        font-size: 10px;
        font-weight: 600;
        margin-top: 8px;
    }
    .btn-couse {
        width: 100%;
        margin-top: 8px;
    }
    .total-bag {
        margin-top: 2vw;
    }
    .btn {
        font-size: 10px;
        font-weight: 700;
        margin-top: 13px;
        width: 96px;
        height: 28px;
    }
    .wrap {
        display: block;
    }
    .calendar {
        width: 100%;
    }
    .skills {
        width: 100%;
    }
    .course-name {
        margin-bottom: 0.7vw;
        margin-top: 0.7vw;
    }
    .course-total {
        margin-bottom: 0;
    }
    .progress-bar {
        display: none;
    }
    .progress {
        padding: 4px 0 0 0;
    }
    .certification-text {
        display: none;
    }
    .user-text {
        display: none;
    }
    .course-list {
        grid-template-columns: repeat(3, 32.04%);
    }
    .course-prices {
        font-size: 10px;
    }
    .number-star {
        font-size: 12px;
    }
    .img-sales {
        width: 100%;
        height: 112px;
    }
    .header-mobile {
        display: none;
    }
    .header {
        padding: 0 14px;
    }
    .see-more {
        display: none;
    }
    .skill-star {
        margin-left: 11vw;
    }
    .skill-list {
        justify-content: flex-start;
    }
    .skill-js {
        width: 90px;
    }
}
